<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> The Net Ninja </title>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="joanna">
        <!-- Vue Instance -->
        <h1> {{ greet(' Afternoon') }}!</h1>
        <p>Name: {{ name }}</p>
        <p>Job: {{ job }}</p>

        <!-- Data Binding -->
        <h1><u>Data Binding</u></h1>
        <p> Website: <br>
            <input type="text" v-bind:value="name">
            </input>
        </p>
        <a v-bind:href="website"> Spotty </a>
        <p v-html="websiteTag"></p>

        <!-- Events -->
        <h1><u> Events </u></h1>
        <p> My age is {{ age }} years old </p>
        <button v-on:click="add(1)"> Add a Year </button>
        <button v-on:click="subtract(1)"> Subtract a Year </button>
        <button v-on:dblclick="add(10)"> Add 10 Years </button>
        <button v-on:dblclick="subtract(10)"> Subtract 10 Years </button>
        <br> <br>
        <div id="canvas" v-on:mousemove="updateXY"> {{x}}, {{y}} </div>
        
        <!-- Event Modifiers -->
        <!-- <button v-on:click.once="add(1)"> Add a Year </button> -->
        <h1><u> Event Modifiers </u></h1>
        <a v-on:click.prevent="click" href="http://www.spottyandmilo.com"> Spotty and Milo</a>
        
        <!-- Keyboard Modifiers -->
        <h1><u> Keyboard Events </u></h1>
        <label> Name: </label>
        <br>
        <input type="text" v-on:keyup.enter="logName" placeholder="Enter your Name..." />
        <br>
        <label> Age: </label>
        <br>
        <input type="text" v-on:keyup.enter="logAge" placeholder="Enter your Age..." />

        <!-- Two-Way Data Binding -->
        <h1><u> Two-Way Data Binding </u></h1>
        <label> Name: </label>
        <br>
        <input type="text" v-model="name1" placeholder="Enter your Name..." />
        <span>{{ name1 }}</span>
        <br>
        <label> Age: </label>
        <br>
        <input type="text" v-model="age1" placeholder="Enter your Age..." />
        <span>{{ age1 }}</span>

        <!-- Computed Properties -->
        <h1><u> Computed Properties </u></h1>
        <button v-on:click.enter="a++"> Add to A </button>
        <button v-on:click="b++"> Add to B </button>
        <p>A - {{a}} </p>
        <p>B - {{b}} </p>
        <p>Age + A = {{addToA}}</p>
        <p>Age + B = {{addToB}}</p>
        
        <!-- Dynamic CSS -->
        <h1><u> Dynamic CSS </u></h1>
    </div> 

    <script src="app.js"></script>
</body>
</html>