<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> The Net Ninja </title>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="joanna">
        <!-- Vue Instance -->
        <h1> {{ greet(' Afternoon') }}!</h1>
        <p>Name: {{ name }}</p>
        <p>Job: {{ job }}</p>
        <br> <br>  
        <!-- Data Binding -->
        <h1><u>Data Binding</u></h1>
        <p> Website: <br>
            <input type="text" v-bind:value="name">
            </input>
        </p>
        <a v-bind:href="website"> Spotty </a>
        <p v-html=" websiteTag"></p>
        <br> <br>  
        <!-- Events -->
        <h1><u> Events </u></h1>
        <br>
        <p> My age is {{ age }} years old </p>
        <br> <br>
        <button v-on:click="add(1)"> Add a Year </button>
        <button v-on:click="subtract(1)"> Subtract a Year </button>
        <button v-on:dblclick="add(10)"> Add 10 Years </button>
        <button v-on:dblclick="subtract(10)"> Subtract 10 Years </button>
        <br> <br>
        <div id="canvas" v-on:mousemove="updateXY"> {{x}}, {{y}} </div>
        <br> <br>  
        <!-- Event Modifiers -->
        <!-- <button v-on:click.once="add(1)"> Add a Year </button> -->
        <h1><u> Event Modifiers </u></h1>
        <br> <br>
        <a v-on:click.prevent="click" href="http://www.spottyandmilo.com"> Spotty and Milo</a>
        <br> <br>  
        <!-- Keyboard Modifiers -->
        <h1><u> Keyboard Events </u></h1>
        <label> Name: </label>
        <br>
        <input type="text" v-on:keyup.enter="logName" placeholder="Enter your Name..." />
        <br>
        <label> Age: </label>
        <br>
        <input type="text" v-on:keyup.enter="logAge" placeholder="Enter your Age..." />
        <br> <br>  
        <!-- Two-Way Data Binding -->
        <h1><u> Two-Way Data Binding </u></h1>
        <br> <br>
        <label> Name: </label>
        <br>
        <input type="text" v-model="name1" placeholder="Enter your Name..." />
        <span>{{ name1 }}</span>
        <br>
        <label> Age: </label>
        <br>
        <input type="text" v-model="age1" placeholder="Enter your Age..." />
        <span>{{ age1 }}</span>
        <br> <br>  
        <!-- Computed Properties -->
        <h1><u> Computed Properties </u></h1>
        <br> <br>        
        <button v-on:click.enter="a++" class="btn"> Add to A </button>
        <button v-on:click="b++" class="btn"> Add to B </button>
        <br> <br>
        <p>A - {{a}} </p>
        <p>B - {{b}} </p>
        <p>Age + A = {{addToA}}</p>
        <p>Age + B = {{addToB}}</p>
        <br> <br>  
        <!-- Dynamic CSS -->
        <h1><u> Dynamic CSS </u></h1>
            <br> <br>  
            <h2>Example #1 </h2>
            <!-- <div v-bind:class="{red: false, blue: true}"> -->
            <div v-on:click="available = !available" v-bind:class="{available: available}">
                <span> Spotty </span>
            </div>
            <br> <br>
            <h2>Example #2 </h2>
            <button v-on:click="nearby = !nearby"> Toggle nearby</button>
            <button v-on:click="available = !available"> Toggle available</button>
            <div v-bind:class="compClasses">
                <span> Milo </span>
            </div>
        <br> <br>  
        <!-- Conditionals -->
        <h1><u> Conditonals </u></h1>   
        <button v-on:click="error = !error"> Toggle Error</button>
        <button v-on:click="success = !success"> Toggle Success</button>         
        <!--<p v-if="error"> There has been an error</p>
        <p v-else-if="success"> There is no error at all </p>
        <p v-else="greetings"> Hello there! </p> -->
        <p v-show="error"> There has been an error</p>
        <p v-show="success"> There is no error at all </p>
        <br> <br>  
        <!-- Looping with V-FOR -->
        <h1><u> Looping with V-FOR </u></h1> 
        <ul>
            <li v-for="(ootb, index) in characters">{{index}} . {{ ootb }}</li>
        </ul>
        <br> <br>
        <ul>
            <li v-for="(sad,index) in asd">{{index}} . {{ sad.name }} - {{ sad.age }}</li>
        </ul>
        <br> <br>
        <template v-for="(sad,index) in asd">
            <h3>{{index}} . {{ sad.name }} {{</h3>
            <p>{{ sad.age }}</p>
        </template>
        <br> <br>
        <template v-for="sad in asd">
                <div v-for="(val,key) in sad">
                    <p>{{ key }} - {{ val }}</p>
                </div>
        </template>
        <br> <br>  
        <!-- Simple Punchbag Game -->
        <h1><u> Simple Punchbag Game </u></h1> 

        <!-- Bag Image-->
        <div id="bag" v-on:click="punch" v-bind:class="{ burst: ended}"></div>

        <!-- Bag Health-->
        <div id="bag-health">
            <div v-bind:style="{width:health+'%'}"> </div>
        </div>
        
        <!-- Game Controls-->
        <div id="controls">
            <button v-on:click="punch" v-show="!ended"> Punch </button>
            <button v-on:click="restart"> Restart </button>
        </div>
        <br> <br>
    </div>
        <!-- Multiple Vue Instances and Intro to Components -->
        <h1><u> Multiple Vue Instances </u></h1>
        <div id="joanna1">
            <h2>{{ title }}</h2>
            <p> {{ greet }}</p>
            <greeting></greeting>
        </div>
        <div id="joanna2">
            <h2>{{ title }}</h2>
            <p> {{ greet }}</p>
            <greeting></greeting>
            <button v-on:click="changeTitle"> Change App One's Title </button>
        </div>
        <br> <br>


    <script src="app.js"></script>
</body>
</html>